<%
begin
coverage_map = measure('coverage_map');
notcovered_line = measure('notcovered_line');
notcovered_user_stories = measure('notcovered_user_stories');
sonar_home = configuration('sonarqube.home');
project_name = measure('project_name');
puts "project_name :: " + project_name.text_value;
%>
<div class="dashbox">
  <h3>User Story Specific Code Coverage</h3>
 
  <br>
  <!--p>
    Plugin Configured For User Stories : <%= configuration('sonar.coverage.userstory') -%><br/>
  </p-->
  <br>
  <table width="100%" border="1">
  <tr>
  <td>
                        User Story Number
                  </td>
                  <td align="right">
                        Coverage Percentage
                  </td>
                        <td align="right">
                              Coverage Graph
                  </td>
  </tr>
      <%
      if !notcovered_user_stories.nil? && !notcovered_user_stories.text_value.nil?
            notcovered_user_stories_array = notcovered_user_stories.text_value.split(",")
      end 
     
      if !coverage_map.nil? && !coverage_map.text_value.nil?
            coverages = coverage_map.text_value.split(";")
            coverages.each do |coverage_with_percentage|
                  coverage_with_percentage_array =
                        coverage_with_percentage.split("=")
                        %>
                        <% percent = coverage_with_percentage_array[1]; %>
                        <% if percent.to_s == '0.0' && notcovered_user_stories_array.include?(coverage_with_percentage_array[0])%>
                        <% else %>             
                              <tr>
                                    <td align="left">
                                          <%= coverage_with_percentage_array[0] -%>
                                    </td>
                                    <td align="right" style="padding-left: 10px;">
                                          <%= coverage_with_percentage_array[1] -%>%
                                          <% graph_string = "cht=bhs&chco=00FF00,FF0000&chs=150x25&chd=t:" + percent + "|" + (100-percent.to_f).to_s; %>
                                    </td>
                                    <td style="padding-left: 6px;">
                                          
                                          <%
                                          for n in 1..percent.to_i/10
                                          %>
                                          <font color="green">
                                            <%= "|"; -%>
                                          </font>
                                          <%
                                          end
                                          %>
                                          <%
                                          for n in 1..10-(percent.to_i/10)
                                          %>
                                          <font color="red">
                                            <%= "|"; -%>
                                          </font>
                                          <%
                                          end
                                          %>
                                          
                                         <% if false %>
                                          <%= gchart(graph_string); -%>
                                         <% end %>
                                    </td>
                              </tr>
                        <% end %>
            <% end %>
      <% end %>
  </table>
      <% if !notcovered_user_stories.nil? %>
            <%= "User stories with no code change:"; -%>
            <%= notcovered_user_stories_array.join(",") -%>
      <% end
      if !notcovered_line.nil? && !notcovered_line.text_value.nil?
      %>
      <table width="100%" border="1" id="coverageReport_<%= project_name.text_value -%>" style="display:none">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
            <script>
                  jQuery.fn.tableToCSV = function(pr_name) {
   
                        var clean_text = function(text){
                              text = text.replace(/"/g, '""');
                              text = text.trim();
                              return '"'+text+'"';
                        };
                       
                        $(this).each(function(){
                                    var table = $(this);
                                    var caption = $(this).find('caption').text();
                                    var title = [];
                                    var rows = [];
 
                                    $(this).find('tr').each(function(){
                                          var data = [];
                                          $(this).find('th').each(function(){
                                                var text = clean_text($(this).text());
                                                title.push(text);
                                                });
                                          $(this).find('td').each(function(){
                                                var text = clean_text($(this).text());
                                                data.push(text);
                                                });
                                          data = data.join(",");
                                          rows.push(data);
                                          });
                                    title = title.join(",");
                                    rows = rows.join("\n");
 
                                    var csv = title + rows;
                                    var uri = 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv);
                                    var download_link = document.createElement('a');
                                    download_link.href = uri;
                                    if(caption==""){
                                          download_link.download = pr_name+".csv";
                                    } else {
                                          download_link.download = caption+"-"+pr_name+".csv";
                                    }
                                    document.body.appendChild(download_link);
                                    download_link.click();
                                    document.body.removeChild(download_link);
                        });
                 
            };
        </script>
        <script>
           $(function(){
                        $("#export_<%= project_name.text_value -%>").click(function(){
                              $("#coverageReport_<%= project_name.text_value -%>").tableToCSV("<%= project_name.text_value -%>");
                        });
                  });
            </script>
            <br/>For lines not covered, please download csv file from below:<br/>
            <button id="export_<%= project_name.text_value -%>" data-export="export">Download Uncovered Lines Result as CSV File</button>
  <tr>
  <td>
                        User Story Number
                  </td>
                  <td align="right">
                        File Name
                  </td>
                        <td align="right">
                              Line Numbers
                  </td>
  </tr>
  <%
            notcovered = notcovered_line.text_value.split(";")
            notcovered.each do |notcovered_with_us|
                  notcovered_with_us_array =
                        notcovered_with_us.split("=")
                        %>
                        <% us_file = notcovered_with_us_array[0];
                        nc_lines = "";
                        nc_lines = notcovered_with_us_array[1];
                        us_file_array = us_file.split(",");
                        if nc_lines.length > 0
                        %>
                       
                  <tr>
  <td>
                        <%= us_file_array[0] -%>
                  </td>
                  <td align="right">
                        <%= us_file_array[1] -%>
                  </td>
                        <td align="right">
                              <%= nc_lines -%>
                  </td>
  </tr>    
   <% end %>
              <% end %>
      </table>
      <% end %>
      <% rescue => e%>
    <%  puts "Exception Inspect :: (#{e.inspect})" + "\n Exception Caller Inspect ::" + caller.inspect + "\n Exception BackTrace ::" + "(#{e.backtrace})" %>
    <% raise e %>
<% end %>
</div>